<div id="wrapper">
  <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
      <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
      <div class="sidebar-brand-text mx-3 text-wrap"><span>Ask Me Anything!</span></div>
    </a>
      <hr class="sidebar-divider my-0">
      <ul class="navbar-nav text-light" id="accordionSidebar">
        <li class="nav-item"><a class="nav-link active" href="/"><i class="fas fa-tachometer-alt"></i><span>Home</span></a></li>
          {{#if logged}}
              <li class="nav-item"><a class="nav-link active" href="/profile"><i class="fas fa-user"></i><span>Profile</span></a></li>
              <li class="nav-item"><a class="nav-link" href="/logout"><i class="far fa-user-circle"></i><span>Logout</span></a></li>
          {{else}}
              <li class="nav-item"><a class="nav-link" href="/login"><i class="far fa-user-circle"></i><span>Login</span></a></li>
              <li class="nav-item"><a class="nav-link" href="/register"><i class="fas fa-user-circle"></i><span>Register</span></a></li>
          {{/if}}
      </ul>
      <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
  </nav>
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">

<div>
    <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
        </div>
        <div class="row d-flex justify-content-start">
            <div class="col-md-2 col-xl-2 mb-4"></div>
            <div class="col-md-3 col-xl-3 mb-4">
                <div class="card shadow border-start-primary py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                    <a class="nav-link" href="/keywords/charts"><i classs="fas fa-user"></i><span>Question Per Keyword</span></a>
                                </div>
                            </div>
                            <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xl-2 mb-4"></div>
            <div class="col-md-3 col-xl-3 mb-4">
                <div class="card shadow border-start-info py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-info fw-bold text-xs mb-1">
                                    <a class="nav-link" href="/question"><i class="fas fa-user"></i><span>Ask New Question</span></a>
                                </div>
                                <div class="row g-0 align-items-center">
                                    <div class="col"></div>
                                </div>
                            </div>
                            <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xl-2 mb-4"></div>
        </div>
    </div>
</div>

<div class="card">
    <div class="container-fluid">
        <div class="row d-flex justify-content-between">
            <div class="col-2 flex-wrap">
                <div class="row">
                    <div class="col">
                        <label for="searchByDateFrom">From Date</label><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input class="form-control" placeholder="e.g. 2021-07-23" id="searchByDateFrom">
                    </div>
                </div>
            </div>
            <div class="col-2 flex-wrap">
                <label for="searchByDateTo">To Date</label><br>
                <input class="form-control" placeholder="e.g. 2021-07-24" id="searchByDateTo">
            </div>
            <div class="col-2 flex-wrap">
                <label for="keyword">KeyWord</label><br>
                <select class="form-select js-example-basic-multiple-limit" type="text" id="keyword" placeholder="e.g. algorithm" name="keyword">
                    <option value="" >-- Select KeyWord --</option>
                    {{#each KList }}
                        <option value="{{this.id}}" >{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-6"></div>
        </div>
    </div>
    <div id="demo" class="container-fluid">

    </div>
</div>


<div id="demo" class="container-fluid">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item" id="previous-page"><a class="page-link" href="javascript:void(0)" aria-label="Previous"><span aria-hidden=true>&laquo;</span></a></li>
        </ul>
    </nav>
</div>

<div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</div>

<script src="/js/script.js"></script>
<script>

    let IntitialPageNumber = 1;
    let limitPerPage = 5;
    let numberOfItems = {{ length }}; //
    let totalPages = Math.ceil(numberOfItems / limitPerPage);
    let num = IntitialPageNumber;
    let size = limitPerPage;
    let kid = null;
    let dateFrom = null;
    let dateTo = null;

    $(".js-example-basic-multiple-limit").select2({
        maximumSelectionLength: 2
    });

    $( "select[name='keyword']" ).change(function () {
        kid = $(this).val();
        changePage();
    });

    $("#searchByDateFrom").on('change', function () {
        dateFrom = $(this).val();
        if(dateFrom){
            dateFrom = dateFrom.slice(6, 10) + `-` + dateFrom.slice(0, 2) + `-` + dateFrom.slice(3, 5)
        }
        changePage();
    });

    $("#searchByDateTo").on('change', function () {
        dateTo = $(this).val();
        if(dateTo){
            dateTo = dateTo.slice(6, 10) + `-` + dateTo.slice(0, 2) + `-` + dateTo.slice(3, 5)
        }
        changePage();
    });


    function changePage(){
        let request = $.ajax({
            url: '../question/pagination',
            type: 'POST',
            dataType: 'json',
            data: {
                'kid': kid,
                'pageNumber': num,
                'pageSize': size,
                'dateFrom': dateFrom,
                'dateTo': dateTo,

            }
        });
        request.done(function(msg){
            const myNode = document.getElementById("demo");
            while (myNode.firstChild) {
                myNode.removeChild(myNode.lastChild);
            }
            for (let i = 0; i < msg.data.length; i++){
                $('#demo').append(composeQuestionDiv(msg.data[i]))
            }
        });
        request.fail(function(_, textStatus){
            alert("Request failed: " + textStatus);
        });
    }

    $('.pagination').append(
            "<li class='current-page active page-item'><a class='page-link' href='javascript:void(0)'>" +
            1 +
            '</a></li>',
    );

    for (let i = 2; i <= totalPages; i++) {
        $('.pagination').append(
                "<li class='current-page page-item'><a class='page-link' href='javascript:void(0)'>" + i + '</a></li>',
        );
    }

    $('.pagination').append(
            "<li id='next-page' class='page-item'><a class='page-link' href='javascript:void(0)' aria-label=Next><span aria-hidden=true>&raquo;</span></a></li>",
    );

    $('.pagination li.current-page').on('click', function () {
        if ($(this).hasClass('active')) {
            return false;
        } else {
            let currentPage = $(this).index();
            $('.pagination li').removeClass('active');
            $(this).addClass('active');
            num = currentPage;
            size = limitPerPage;
            changePage();
        }
    });

    $('#next-page').on('click', function () {
        let currentPage = $('.pagination li.active').index();
        if (currentPage === totalPages) {
            return false;
        } else {
            currentPage++;
            $('.pagination li').removeClass('active');

            num = currentPage;
            size = limitPerPage;
            changePage();

            $('.pagination li.current-page:eq(' + (currentPage - 1) + ')').addClass(
                    'active',
            );
        }
    });

    $('#previous-page').on('click', function () {
        let currentPage = $('.pagination li.active').index();
        if (currentPage === 1) {
            return false;
        } else {
            currentPage--;
            $('.pagination li').removeClass('active');
            $('#page .list-group').hide();

            num = currentPage;
            size = limitPerPage;
            changePage();

            $('.pagination li.current-page:eq(' + (currentPage - 1) + ')').addClass(
                    'active',
            );
        }
    });

     $(document).ready(function(){
         $( function() {
             $( "#searchByDateFrom" ).datepicker();
         } );
         $( function() {
             $( "#searchByDateTo" ).datepicker();
         } );
         changePage();
     });

</script>
