<div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
        <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
            <div class="sidebar-brand-text mx-3 text-wrap"><span>Ask Me Anything!</span></div>
        </a>
            <hr class="sidebar-divider my-0">
            <ul class="navbar-nav text-light" id="accordionSidebar">
                <li class="nav-item"><a class="nav-link active" href="/"><i class="fas fa-tachometer-alt"></i><span>Home</span></a></li>
                {{#if logged}}
                    <li class="nav-item"><a class="nav-link active" href="/profile"><i class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout"><i class="far fa-user-circle"></i><span>Logout</span></a></li>
                {{else}}
                    <li class="nav-item"><a class="nav-link" href="/login"><i class="far fa-user-circle"></i><span>Login</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/register"><i class="fas fa-user-circle"></i><span>Register</span></a></li>
                {{/if}}
            </ul>
            <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
        </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Profile</h3>
                <div class="row mb-3">
                    <div class="col-lg-4">

                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="text-primary fw-bold m-0">Top 10 Famous Keywords</h6>
                            </div>
                            <canvas id="pie-chart" width="800" height="450"></canvas>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold">Questions per Day</p>
                                    </div>
                                    <div id="calendar_basic" class="card-body"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>

<script>
    $('document').ready(function(){
        let max = 0;
        let steps = 10;
        let chartData = {};
        let labels = [];
        let data = [];
        let colours = [];
        let backgroundColor = ["#1d77e2", "#27d8d3", "#1ebee1", "#19dfe6", "#0df2c6"];

        function respondCanvas() {
            let c = $('#pie-chart');
            let ctx = c.get(0).getContext("2d");
            let container = c.parent();
            let $container = $(container);

            c.attr('width', $container.width()); //max width
            c.attr('height', $container.height()); //max height

            //Call a function to redraw other content (texts, images etc)
            let chart = new Chart(ctx, {
                type: 'pie',
                data: chartData,
                scaleOverride: true,
                scaleSteps: steps,
                scaleStepWidth: Math.ceil(max / steps),
                scaleStartValue: 0,
                options: {
                    responsive: false,
                }
            });
        }
        let GetChartData = function () {
            $.ajax({
                url: 'charts',
                method: 'POST',
                dataType: 'json',
                success: function (res) {
                    let i = 0;
                    $.each(res, function(key, value){
                        labels.push(value.name);
                        data.push(value.relatedthreads);
                        colours.push(backgroundColor[i%5]);
                        i+=1;
                    });
                    chartData = {
                        labels: labels,
                        datasets: [
                            {
                                fillColor: "rgba(220,220,220,0.5)",
                                strokeColor: "rgba(220,220,220,1)",
                                pointColor: "rgba(220,220,220,1)",
                                pointStrokeColor: "#fff",
                                backgroundColor: colours,
                                data: data
                            }
                        ]
                    };

                    max = Math.max.apply(Math, [data[0]]);
                    steps = 10;

                    respondCanvas();
                }
            });
        };

        $(document).ready(function() {
            $(window).resize(respondCanvas);

            GetChartData();
        });
    });


</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.load("current", {'packages':["calendar"]});
    google.charts.setOnLoadCallback(drawChart);

    let data;
    let GetCalendarData = function () {
        $.ajax({
            url: '../question/charts',
            method: 'POST',
            dataType: 'json',
            success: function (res) {
                console.log(res);
                data=res;
            }
        });
    };
    GetCalendarData();
    function drawChart() {

        let dataTable = new google.visualization.DataTable();
        dataTable.addColumn({ type: 'date', id: 'Date' });
        dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
        data.map(x => dataTable.addRow([new Date(x.datepost), parseInt(x.relatedthreads, 10)]));

        let calendar_options = {title:'Barchart: How Much Pizza I Ate Last Night',
            width:600,
            height:400,
            legend: 'none'
        };

        let calendar = new google.visualization.Calendar(document.getElementById('calendar_basic'));
        calendar.draw(dataTable, calendar_options);

    }
</script>
<!--<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->
<!--<script type="text/javascript">-->
<!--    google.charts.load("current", {packages:["calendar"]});-->
<!--    google.charts.setOnLoadCallback(drawChart);-->

<!--    function drawChart() {-->
<!--        let dataTable = new google.visualization.DataTable();-->
<!--        dataTable.addColumn({ type: 'date', id: 'Date' });-->
<!--        dataTable.addColumn({ type: 'number', id: 'Won/Loss' });-->
<!--        dataTable.addRows([-->
<!--            [ new Date(2012, 3, 13), 37032 ],-->
<!--            [ new Date(2012, 3, 14), 38024 ],-->
<!--            [ new Date(2012, 3, 15), 38024 ],-->
<!--            [ new Date(2012, 3, 16), 38108 ],-->
<!--            [ new Date(2012, 3, 17), 38229 ],-->
<!--            // Many rows omitted for brevity.-->
<!--            [ new Date(2013, 9, 4), 38177 ],-->
<!--            [ new Date(2013, 9, 5), 38705 ],-->
<!--            [ new Date(2013, 9, 12), 38210 ],-->
<!--            [ new Date(2013, 9, 13), 38029 ],-->
<!--            [ new Date(2013, 9, 19), 38823 ],-->
<!--            [ new Date(2013, 9, 23), 38345 ],-->
<!--            [ new Date(2013, 9, 24), 38436 ],-->
<!--            [ new Date(2013, 9, 30), 38447 ]-->
<!--        ]);-->

<!--        let chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));-->

<!--        let options = {-->
<!--            title: "Red Sox Attendance",-->
<!--            height: 350,-->
<!--        };-->

<!--        chart.draw(dataTable, options);-->
<!--    }-->
<!--</script>-->